<header>
  <h1 class="text-center">Border Radius Generator</h1>
</header>

<section>
  <div class="wrapper flex">
    <form class="card-container">
      <div class="card card-dark flex-column">
        <div class="flex flex-row flex-align-center flex-justfy-between">
          <fa-icon [icon]="faBorderStyle" class="fa-2x color-light"></fa-icon>
          <input
            type="number"
            class="w-25 input-dark"
            min="0"
            [value]="topLeft"
            [(ngModel)]="topLeft"
            name="topLeft"
            (ngModelChange)="changeValue($event)"
          />
          <input
            type="number"
            class="w-25 input-dark"
            min="0"
            [value]="topRight"
            [(ngModel)]="topRight"
            name="topRight"
            (ngModelChange)="changeValue($event)"
          />
          <fa-icon
            [icon]="faBorderStyle"
            class="fa-2x fa-rotate-90 color-light"
          ></fa-icon>
        </div>

        <div class="flex flex-row flex-align-center flex-justfy-center py-1">
          <div class="radio-group">
            <label
              for="link"
              [ngClass]="{ checked: link }"
              (click)="link = true; changeValue(topLeft)"
            >
              <fa-icon [icon]="faLink" class="color-light"></fa-icon>
            </label>
            <input
              type="radio"
              id="link"
              name="link"
              [value]="true"
              [checked]="link"
            />
            <label
              for="unlink"
              [ngClass]="{ checked: !link }"
              (click)="link = false"
            >
              <fa-icon [icon]="faUnlink" class="color-light"></fa-icon>
            </label>
            <input
              type="radio"
              id="unlink"
              name="link"
              [value]="false"
              [checked]="!link"
            />
          </div>

          <div class="radio-group">
            <label
              for="pixel"
              class="color-light"
              [ngClass]="{ checked: unit }"
              (click)="unit = true; cssProps()"
            >
              px
            </label>
            <input
              type="radio"
              id="pixel"
              name="unit"
              [value]="true"
              [checked]="unit"
            />
            <label
              for="percent"
              class="color-light"
              [ngClass]="{ checked: !unit }"
              (click)="unit = false; cssProps()"
            >
              <strong>%</strong>
            </label>
            <input
              type="radio"
              id="percent"
              name="unit"
              [value]="false"
              [checked]="!unit"
            />
          </div>
        </div>

        <div class="flex flex-row flex-align-center flex-justfy-between">
          <fa-icon
            [icon]="faBorderStyle"
            class="fa-2x fa-rotate-270 color-light"
          ></fa-icon>
          <input
            type="number"
            class="w-25 input-dark"
            min="0"
            [value]="bottomLeft"
            [(ngModel)]="bottomLeft"
            name="bottomLeft"
            (ngModelChange)="changeValue($event)"
          />
          <input
            type="number"
            class="w-25 input-dark"
            min="0"
            [value]="bottomRight"
            [(ngModel)]="bottomRight"
            name="bottomRight"
            (ngModelChange)="changeValue($event)"
          />
          <fa-icon
            [icon]="faBorderStyle"
            class="fa-2x fa-rotate-180 color-light"
          ></fa-icon>
        </div>
      </div>
    </form>

    <div class="card-container">
      <div
        class="card card-dark flex flex-column flex-align-center flex-justfy-center"
      >
        <div
          [class]="isSquare ? 'square-example' : 'retangle-example'"
          (click)="isSquare = !isSquare"
          class="py-1 flex flex-column flex-align-center flex-justfy-center"
          [style]="css"
        >
          <h4 class="color-dark">Click me!</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 flex flex-column flex-align-center">
    <div class="terminal w-100">
      <div class="copy-area flex flex-row flex-align-center flex-justfy-center">
        <h4>
          <fa-icon [icon]="faCopy" class=""></fa-icon>
          &thinsp; Copy to Clipboard
        </h4>
      </div>
      <pre>{{ css }}</pre>
    </div>
  </div>
</section>
